<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hola mundo Spring</title>
</head>
<body>
    <h1 th:text="'Hola ' + ${name}"></h1>
</body>
</html>